<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body bgcolor="silver">
	<b>원하는 아이디와 비밀번호를 입력하세요</b>
	<form method="post" action="register.jsp">
	<div align="left">
		ID:&nbsp;&nbsp;<input type="text" name="id"><br>
		PW:<input type="text" name="pw"><br>
		Name:<input type="text" name="name"><br>
		age: <input type="text" name="age"><br>
		phone:<input type="text" name="phone"><br>
		job:<input type="text" name="job"><br>
		
		<input type="submit" value="등록">
	</div></form>
</body>
</html>